<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Basic HTML</title>
</head>

<body>
    <h1>Enter your details:</h1>
    <form action="/details" method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="text" name="email" placeholder="Email" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>